.square {
  background-color: #ededed;
  border-radius: 10px;
  padding: 10px 10px 20px;
  margin-bottom: 15px;
  cursor: pointer;
}

.square:hover {
  transform: scale(1.1);
  background-color: #dbdbdb;
}

.square.selected {
  background-color: #dbdbdb;
}


body {
  font-family: Arial;
  letter-spacing: 0.6px;
  padding: 20px 160px;
}

h2 {
  margin-top: 0;
  margin-bottom: 10px;
}
p {
  margin-top: 0;
  margin-bottom: 2px;
}

.pokelist {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.row-far {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.circle {
  background-color: #ededed;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  cursor: pointer;
}

.poke {
  width: 12%;
  max-width: 12%;
  height: auto;
  max-height: auto;
  margin: 10px;
  object-fit: contain;
}

.poke-circle {
  width: 60px;
  height: auto;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
}

.col-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}